{:kotoba.app/id "cloud.itonami.isic-2829", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihwvxv2vyp6a5uf7chomyazhxydiwt5gwmp3f33yp5qjhc6khk7my", :kotoba.app/embed-url "ipfs://bafkreihwvxv2vyp6a5uf7chomyazhxydiwt5gwmp3f33yp5qjhc6khk7my", :published {:archive "https://kotobase.net/ipfs/bafkreihwvxv2vyp6a5uf7chomyazhxydiwt5gwmp3f33yp5qjhc6khk7my", :size 73056, :put-status 201, :get-status 200, :at "2026-08-15T13:42:44.684Z"}}
